@charset "UTF-8";

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

*:focus {
	outline: 0;
}

html {
  height: 100%;
  min-width: 300px;
}


body {  
   font-family: 'Oswald', sans-serif; 
   text-align: center;
   text-transform: uppercase;
}

h1 {
  font-size: 5em;
  color: white;
  padding: 25px;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 3em;
}

#top {
  background-color:blueviolet;   
}

.row {
  padding: 10px;
}

.col {
  border: 5px solid blueviolet;
  margin: 25px;
  padding: 20px;
}

#box1 {  
    background-color:#d6e414 ;  
}

#box2 {
     background-color:aquamarine 
}

#box3 {
    background-color: #27e431;
}

#hide {
  display: none;
}

#mystyle {
   background-color: coral;
}